// -----------------------------------------------------------------------------
// This file contains all styles related to the posts grid of the site/application.
// -----------------------------------------------------------------------------

.posts-grid {
	background-color: $light-grey;
	padding: 70px 0;
	box-shadow: inset 0 10px 75px -40px rgba($dark-color, 0.5);
	.posts-grid-item {
		position: relative;
		margin-bottom: 30px;
		overflow: hidden;
		.posts-grid-link {
			position: relative;
			display: flex;
			color: $light-color;
			transition: 0.2s linear all;
			cursor: pointer;
			.img-wrapper {
				position: relative;
				z-index: 1;
				width: 100%;
				img {
					transition: 0.2s linear all;
					z-index: 0;
					transform-origin: center center;
					width: 100%;
				}
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background-color: rgba($dark-color, 0.5);
					z-index: 1;
					transition: 0.2s linear all;
				}
			}
			.content {
				position: absolute;
				display: flex;
				width: 100%;
				height: 100%;
				z-index: 2;
				flex-direction: column;
				top: 0;
				left: 0;
				&.center {
					justify-content: center;
				}
				&.bottom {
					justify-content: flex-end;
					padding-bottom: 20%;
					@media screen and (max-width: 991px) {
						justify-content: center;
						padding-bottom: 0;
					}
				}
				& > * {
					display: flex;
					padding-left: 20px;
					& > * {
						display: flex;
						color: $light-color;
					}
				}
				.today-wrapper, .select-wrapper {
					.title {
						width: 35%;	
					}
					.likes, .comments {
						width: 32.5%;	
						padding-left: 25px;
						position: relative;
						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							width: 20px;
							height: 20px;
							background: url(../img/svg/heart.svg) center center no-repeat;
						}
					}
					.comments {
						&:before {
							background: url(../img/svg/comment.svg) center center no-repeat;
							width: 18px;
						}
					}
				}
				&.video {
					&:after {
						content: '';
						position: absolute;
						top: 12px;
						right: 12px;
						width: 30px;
						height: 25px;
						background: url(../img/svg/camera.svg) center center no-repeat;
						opacity: 0.5;
					}
					.likes {
						&:before {
							background: url(../img/svg/play.svg) center center no-repeat;
						}
					}
				}
				.today-wrapper {
					margin-bottom: 20px;
					margin-top: 15px;
				}
				.upload-wrapper {
					margin-top: 30px;
					position: absolute;
					bottom: 10px;
					left: 50%;
					transform: translateX(-50%);
					display: flex;
					justify-content: center;
					width: 100%;
					.title {
						margin-right: 5px;
					}
				}
			}	
		}
		&:hover {
			.img-wrapper {
				img {
					transform: scale(1.2);
				}
				&:before {
					background-color: rgba($dark-color, 0.75);
					transition: 0.2s linear all;
				}
			}
		}
	}
	.btn-wrapper {
		text-align: center;
		margin: 15px 0;
	}
}